MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY=
SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY=
AWS_REGION=
SPRING_CLOUD_AWS_S3_BUCKET=
SPRING_CLOUD_AWS_S3_CDN_URL=
SPRING_JWT_SECRET=